<!--banner-->
<div id="home" class="banner">
	<div class="banner-info">
		<div class="container">
			<div class="col-md-4 header-left">
				<img src="/img/passport.png" alt=""/>
			</div>
			<div class="col-md-8 header-right">
				<h2>Hello</h2>
				<h1>I'm Manish Wadhwani</h1>
				<h6>Software Developer / Philosopher | 
				<span class="falinks">
					<a href="https://www.linkedin.com/in/manishrw"><i class="fa fa-linkedin" ></i></a>
					<a href="https://twitter.com/manishrw"><i class="fa fa-twitter"></i></a>
					<a href="skype:manishsvnit007"><i class="fa fa-skype"></i></a>
					<a href="https://github.com/manishrw/"><i class="fa fa-github"></i></a>
				</span>
				</h6>
				<ul class="address">
					<li>
						<ul class="address-text">
							<li><b>D.O.B</b></li>
							<li>06-12-1991</li>
						</ul>
					</li>
					<li>
						<ul class="address-text">
							<li><b>PHONE </b></li>
							<li>+91 88847 15911</li>
						</ul>
					</li>
					<li>
						<ul class="address-text">
							<li><b>ADDRESS </b></li>
							<li>Koramangala, Bangalore - 560047, KA, India.</li>
						</ul>
					</li>
					<li>
						<ul class="address-text">
							<li><b>E-MAIL </b></li>
							<li><a href="mailto:manishrw@yahoo.com">manishrw@yahoo.com</a></li>
						</ul>
					</li>
					<li>
						<ul class="address-text">
							<li><b>BLOG </b></li>
							<li><a href="https://manishrw.blogspot.in">manishrw blogspot</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//banner-->
<!--top-nav-->
<div class="top-nav wow">
	<div class="container">
		<div class="navbar-header logo">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				Menu
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="menu">
				<ul class="nav navbar">
					<li><a href="#about" class="scroll">About</a></li>
					<li><a href="#work" class="scroll">Experience</a></li>
					<li><a href="#education" class="scroll">Education</a></li>
					<li><a href="#skills" class="scroll">Skills</a></li>
					<li><a href="#projects" class="scroll">My Projects</a></li>
					<li><a href="#contact" class="scroll">Contact</a></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>	
<!--//top-nav-->
<!--about-->
<div id="about" class="about">
	<div class="container">
		<h3 class="title"> About Me</h3>
		<div class="col-md-8 about-left">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sem sit amet dolor luctus pellentesque. Pellentesque eleifend tellus at interdum elementum. Nam egestas molestie elit. Vivamus sed accumsan quam, a mollis magna. Nam aliquet eros eget sapien consequat tincidunt at vel nibh. Duis ut turpis mi. Duis nec scelerisque urna, sit amet varius arcu. Aliquam aliquet sapien quis mauris semper suscipit. Maecenas pharetra dapibus posuere. Praesent odio sem, varius quis dolor vel, maximus dapibus mi. Pellentesque mattis mauris neque. Nam aliquam turpis ante, at cursus massa ullamcorper ut. Proin id diam id nisi sagittis pellentesque sed sit amet eros.  
			In porttitor tempus nulla, a porta purus commodo sed. Praesent hendrerit nisi nunc, ut porttitor justo pellentesque et ac gravida sem mattis. Donec ornare justo nec</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sem sit amet dolor luctus pellentesque Nam egestas molestie elit. Vivamus sed accumsan quam, a mollis magna. Nam aliquet eros eget sapien consequat</p>
		</div>
		<div class="col-md-4 about-right">
			<ul>
				<h5>Awards</h5>
				<li><span class="glyphicon glyphicon-menu-right"></span> Lorem ipsum dolor sit amet cingelit</li>
				<li><span class="glyphicon glyphicon-menu-right"></span> Curabitur id metus rutrum convallis</li>
				<li><span class="glyphicon glyphicon-menu-right"></span> Morbi dictum velit vitae porttitor</li>
				<li><span class="glyphicon glyphicon-menu-right"></span> Fusce at metus id justo ullamcorper</li>
				<li><span class="glyphicon glyphicon-menu-right"></span> Aliquam ac nisl id justo malesuada </li>
			</ul>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//about-->
<!--work-experience-->
<div id="work" class="work">
	<div class="container">
		<h3 class="title">Work Experience</h3>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>2014 - 2016 </h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-briefcase"> </span> Company Name</h5>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info"> 
			<div class="col-md-6 work-right work-right2"> 
				<h4>2013 - 2014 </h4>
			</div>
			<div class="col-md-6 work-left work-left2"> 
				<h5> Company Name <span class="glyphicon glyphicon-briefcase"> </span></h5>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>2012 - 2013 </h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-briefcase"> </span> Company Name</h5>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info"> 
			<div class="col-md-6 work-right work-right2"> 
				<h4>2010 - 2012 </h4>
			</div>
			<div class="col-md-6 work-left work-left2"> 
				<h5> Company Name <span class="glyphicon glyphicon-briefcase"></span> </h5>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//work-experience-->
<!--education-->
<div id="education" class="education">
	<div class="container">
		<h3 class="title">Education</h3>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>Master Degree - 2010</h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-education"> </span> University Name</h5>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info"> 
			<div class="col-md-6 work-right work-right2"> 
				<h4>Diploma in Design - 2010</h4>
			</div>
			<div class="col-md-6 work-left work-left2"> 
				<h5> University Name <span class="glyphicon glyphicon-education"></span></h5>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>Web Design - 2008</h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-education"> </span> University Name</h5>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//education-->
<!--skills-->
<div id="skills" class="skills">
	<div class="container">
		<h3 class="title">Skills</h3>
		<div class="skills-info">
			<div class="col-md-6 bar-grids">
				<h6>WEB DESIGN  <span> 80% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 80%">
					</div>
				</div>
				<h6>UI DESIGN & DEVELOPER <span> 70% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 70%">
					</div>
				</div>
				<h6>HTML/CSS<span>90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 90%">
					</div>
				</div>
				<h6>PHOTOSHOP <span> 75% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 75%">
					</div>
				</div>
			</div>
			<div class="col-md-6 bar-grids">
				<h6>PROJECT MANAGEMENT <span> 85% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
				<h6>SOCIAL MEDIA MARKETING<span> 95% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
				<h6>UX DEVELOPER<span>80% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 80%">
					</div>
				</div>
				<h6>PHP DESIGN<span> 60% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 60%">
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//education-->
<!--portfolio-->
<div id="projects" class="portfolio">
	<div class="container">
		<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">My Projects</h3>
		<div class="sap_tabs">			
			<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
				<ul class="resp-tabs-list wow fadeInUp animated" data-wow-delay=".7s">
					<li class="resp-tab-item"><span>All</span></li>
					<li class="resp-tab-item"><span>Html</span></li>
					<li class="resp-tab-item"><span> Photoshop</span></li>
					<li class="resp-tab-item"><span>Wordpress</span></li>					
				</ul>	
				<div class="clearfix"> </div>	
				<div class="resp-tabs-container">
					<div class="tab-1 resp-tab-content">
						<div class="tab_img">
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g1.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g1.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid effect-sarah">
									<a href="images/g2.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g2.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g3.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g3.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g4.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g4.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g5.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g5.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g6.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g6.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g7.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g7.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g8.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g8.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g9.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g9.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="tab-1 resp-tab-content">
						<div class="tab_img">
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g5.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g5.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g6.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g6.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g7.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g7.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="tab-1 resp-tab-content">
						<div class="tab_img">
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g3.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g3.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g1.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g1.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g9.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g9.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="tab-1 resp-tab-content">
						<div class="tab_img">
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g2.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g2.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g4.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g4.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="col-md-4 portfolio-grids">
								<div class="grid">
									<a href="images/g8.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
										<img src="/img/images/g8.jpg" alt="" class="img-responsive" />
										<div class="figcaption">
											<h3>My<span> Project</span></h3>
											<p>Sarah likes to watch clouds. She's quite depressed.</p>
										</div>
									</a>	
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--ResponsiveTabs-->
		<script src="js/modules/easyResponsiveTabs.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#horizontalTab').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion           
					width: 'auto', //auto or any width like 600px
					fit: true   // 100% fit in a container
				});
			});		
		</script>
		<!--//ResponsiveTabs-->
		<!-- swipe box js -->
		<script src="js/modules/jquery.swipebox.min.js"></script> 
			<script type="text/javascript">
				jQuery(function($) {
					$(".swipebox").swipebox();
				});
		</script>
		<!-- //swipe box js -->
	</div>
</div>
<!--//portfolio-->

<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
	$(document).ready(function() {
	
		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
		};
		
		$().UItoTop({ easingType: 'easeOutQuart' });
		
	});
</script>
<script src="js/modules/bootstrap.js"></script>
