<div class="container">
	<div class="container slider">
			<!-- enumerate all photos -->
			<img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />
			<!-- prev / next controls -->
			<a class="arrow prev" href="#" ng-click="showPrev()"></a>
			<a class="arrow next" href="#" ng-click="showNext()"></a>
			<!-- extra navigation controls -->
			<ul class="nav">
					<li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
							<img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
					</li>
			</ul>
		</div>
</div>