<div class="container">
  <div class="page-header">
    <h3 class="title">Education</h3>
  </div>
  <ul class="timeline" *ngFor="let edx of education; let index = index">
    <li *ngIf="index % 2 === 0">
      <div class="timeline-badge">
        <fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{edx.title}}</h4>
          <h4 class="timeline-title">{{edx.univ}}</h4>
          <p>
            <small class="text-muted">
              <fa-icon [icon]="['fas', 'clock']"></fa-icon>
              {{edx.year}}</small>
          </p>
        </div>
        <div class="timeline-body" [innerHTML]="edx.description"></div>
      </div>
    </li>
    <li class="timeline-inverted" *ngIf="index % 2 === 1">
      <div class="timeline-badge warning">
        <fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{edx.title}}</h4>
          <h4 class="timeline-title">{{edx.univ}}</h4>
          <p>
            <small class="text-muted">
              <fa-icon [icon]="['fas', 'clock']"></fa-icon>
              {{edx.year}}</small>
          </p>
        </div>
        <div class="timeline-body" [innerHTML]="edx.description"></div>
      </div>
    </li>
  </ul>
</div>
