<footer class="bg-dark">
  <div class="footer">
    <p>© 2021 @manishrw
      <span class="falinks">
        <a href="{{social.linkedin}}">
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
        <a href="{{social.twitter}}">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
        <a href="{{social.email}}">
          <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        </a>
        <a href="{{social.github}}">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
      </span>
    </p>
  </div>
</footer>
