footer {
  /*position: absolute;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  padding: 1rem;
  text-align: center;
  color: whitesmoke;
}

a {
  padding: 3px;
}

fa-icon {
  color: whitesmoke;
}

fa-icon:hover {
  color: #cccccc;
}
