<!--banner-->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 header-left">
        <img src="../../assets/img/passport.png" class="img-thumbnail passport" alt="My image"/>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 header-right">
        <h2>Hello, I'm</h2>
        <h1>{{userData.name}}</h1>
        <span class="introduction">
          <h6>{{userData.title}}&nbsp;&nbsp;&nbsp;|&nbsp;</h6>
          <a href="{{social.linkedin}}">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
          </a>
          <a href="{{social.github}}">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </a>
          <a href="{{social.email}}">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
          </a>
          <a href="{{social.twitter}}">
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
          </a>
          <a href="{{social.instagram}}">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
          </a>
          <a href="{{social.strava}}">
            <fa-icon [icon]="['fab', 'strava']"></fa-icon>
          </a>
        </span>
        <div style="margin-top: 2em;">
          <div class="description" [innerHTML]="userData.description | safeHtml"></div>
          <br><br> Location: {{userData.address.street}}, {{userData.address.state}}
        </div>
      </div>
    </div>
  </div>
</div>
<!--//banner-->

<!--nav profile-->
<div class="nav-profile">
  <nav class="navbar navbar-expand navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">Work<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Education<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#recognition">Recognition<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!--//nav profile-->

<!--about-->
<div id="about" class="about">
  <div class="container">
    <h3 class="title"> About Me</h3>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 about-left">
        <div class="aboutus" [innerHTML]="aboutUs | safeHtml"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!--//about-->

<app-worktimeline [workInfo]="workInfo" id="work"></app-worktimeline>
<app-educationtimeline [education]="education" id="education"></app-educationtimeline>
<app-skills [skills]="skills" id="skills"></app-skills>
<app-recognition [awards]="awards" id="recognition"></app-recognition>

<!--projects-->
<div class="container">
  <h3 class="title" id="projects">Projects</h3>
  <div class="row d-flex justify-content-center">
    <div id="github-card"
         data-sort-by="stars"
         data-header-text="Most starred repositories"
         data-max-repos="3"
         data-username="manishrw">
    </div>
  </div>
</div>
<!--//projects-->
