<div id="skills" class="skills">
  <div class="container">
    <h3 class="title">Skills</h3>
    <div class="row card-group">
      <div class="col-6" *ngFor="let s of skills">
        <div class="card border-0">
          <h6>{{s.title}}<span class="float-right">{{s.value}}</span></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                 aria-valuemin="0" aria-valuemax="100" [style.width]="s.value"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
